<!-- src/app/movies/movies.component.html -->
<div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="carouselImage" class="d-block w-100" [alt]="popularMovies[1]?.title">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ popularMovies[1]?.title | mayusculas }}</h1>
        <p>{{ popularMovies[1]?.overview | slice:0:150 }}...</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <!-- Popular Movies -->
  <div class="mb-4">
    <h2>Popular</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of popularMovies" class="col animate__animated animate__fadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

  <app-series></app-series>

  <!-- Now Playing Movies -->
  <div class="mb-4">
    <h2>En Cartelera</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of nowPlayingMovies" class="col animate__animated animate__fadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

  <!-- Top Rated Movies -->
  <div class="mb-4">
    <h2>Mejor Puntuadas</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of topRatedMovies" class="col animate__animated animate__fadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

  <!-- Upcoming Movies -->
  <div class="mb-4">
    <h2>Próximas</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of upcomingMovies" class="col animate__animated animate__fadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

  <!-- Trending Movies -->
  <div class="mb-4">
    <h2>Tendencias</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of trendingMovies" class="col animate__animated animate__fadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

</div>
