<footer class="footer">
  <div class="footer--contenedor">
      <ul class="iconos">
          <li><a href="#"><img src="assets/Multimedia/facebook.svg" alt="facebook"></a></li>
          <li><a href="#"><img src="assets/Multimedia/instagram.svg" alt="instagram"></a></li>
          <li><a href="#"><img src="assets/Multimedia/github.svg" alt="github"></a></li>
          <li><a href="#"><img src="assets/Multimedia/linkedin.svg" alt="linkedin"></a></li>
      </ul>
      <div class="informacion">
          <p>Preguntas frecuentes</p>
          <p>Prensa</p>
          <p>Formas de ver</p>
          <p>Preferencias de cookies</p>
          <p>Pruebas de velocidad</p>
          <p>Centro de ayuda</p>
          <p>Relaciones con inversionistas</p>
          <p>Terminos de uso</p>
          <p>Informacion corporativa</p>
          <p>Cuenta</p>
          <p>Empleo</p>
          <p>Privacidad</p>
          <p>Contactanos</p>
      </div>
      <p class="idioma">🌎︎ Español</p>
  </div>
</footer>
