.navbar {
  background-color: black;
}
.navbar-nav .nav-link {
  color: white !important;
}
.navbar-brand img {
  height: 40px; /* Ajusta el tamaño de la imagen del logo */
}
.navbar-nav .nav-link:hover {
  color: #b3b3b3 !important;
}


.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
}


.search-result img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}


.search-result {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.search-result:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
