<div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img [src]="carouselImage" class="d-block w-100" [alt]="novedadesPeliculas[3]?.title">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ novedadesPeliculas[2]?.title | mayusculas }}</h1>
        <p>{{ novedadesPeliculas[2]?.overview | slice:0:150 }}...</p>
      </div>
    </div>
  </div>

</div>

<div class="container mt-5">
  <!-- Novedades de Películas -->
  <div class="mb-4">
    <h2>Novedades de Películas</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let movie of novedadesPeliculas" class="col animateanimated animatefadeIn">
        <div class="card h-100" [routerLink]="['/movie', movie.id]" style="cursor: pointer;">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" [alt]="movie.title">
        </div>
      </div>
    </div>
  </div>

  <!-- Novedades de Series -->
  <div class="mb-4">
    <h2>Novedades de Series</h2>
    <div class="row row-cols-1 row-cols-md-6 g-4">
      <div *ngFor="let series of novedadesSeries" class="col animateanimated animatefadeIn">
        <div class="card h-100">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + series.poster_path" class="card-img-top" [alt]="series.name">
        </div>
      </div>
    </div>
  </div>
</div>
